/* Links */
a,
a:focus,
a:hover {
  color: rgb(248, 244, 244);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(248, 244, 244);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(248, 244, 244);
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333333;
  margin: 0;
}


.index-background-picture {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
   
    background: url("../images/pexels-nada-bastawi-3729243.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
  transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background: #b9b3b3;
    background-color: #948f8f;
    font-family: 'Hachi Maru Pop', cursive;
}

.cover-heading {
    color: #f5e7e7;
    font-family: 'Hachi Maru Pop', cursive;
}

.lead{
    color: whitesmoke;
    letter-spacing: 0.px;
    font-family: 'Hachi Maru Pop', cursive;
}


/*
 * Footer
 */
.mastfoot {
  color: whitesmoke;
  font-family: 'Hachi Maru Pop', cursive;
}



/*.. WELCOME PAGE ..*/

* {
  box-sizing:border-box;

}

.navbar{ 
    background:rgb(126, 99, 76);
}

.nav-link, .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
}

body, html{
    margin: 0;
   font-family: 'Hachi Maru Pop', cursive;
   overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

}
.welcome-page {
    background: url('../images/pexels-viktoria-alipatova-2074120.jpg');
}




.welcome-container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 65px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 65px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(6, 116, 52);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

/* FOOTER */

.welcome-footer {
  width: 100%;
  height: 60px; /* height of the footer*/
  line-height: 60px; /* Vertically center the text */
  background-color: #f16b6b;
}

.float-right, .btn, .btn-small {
 color: #5e3636;
 size: 1.px;
 background-color: #a8a3a3;
}
